<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title> VIT CHENNAI </title>
        <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    </head>
    <body>
        <div class="main">
            <div class="p2_left">
                
                <a href="{{ url_for('holdings') }}">
                    <button class="p2_btns" style="border-radius: 80px 80px 80px 80px;background-color: #E8CACA4F;filter: brightness(80%);"onmouseover="this.style.backgroundColor='white'" onmouseout="this.style.backgroundColor='#E8CACA4F'">
                        MY HOLDINGS</button></a>
                    <a href="{{ url_for('availability') }}">
                    <button class="p2_btns" style="border-top: 0px;border-radius: 80px 80px 80px 80px;background-color: #E8CACA4F;filter: brightness(80%);"onmouseover="this.style.backgroundColor='white'" onmouseout="this.style.backgroundColor='#E8CACA4F'">
                        AVAILABILITY CHECK</button></a>
                    
                    <a href="{{ url_for('penalty') }}">
                    <button class="p2_btns" style="border-top: 0px; border-radius: 80px 80px 80px 80px;background-color: #E8CACA4F;filter: brightness(80%);"onmouseover="this.style.backgroundColor='white'" onmouseout="this.style.backgroundColor='#E8CACA4F'">
                        PENALTY CHECK</button></a>
                    
                    <a href="{{ url_for('extension') }}">
                    <button class="p2_btns" style="border-top: 0px;border-radius: 80px 80px 80px 80px;background-color: #E8CACA4F;filter: brightness(80%);"onmouseover="this.style.backgroundColor='white'" onmouseout="this.style.backgroundColor='#E8CACA4F'">
                        EXTENSION REQUEST</button></a>

                    <a href="{{ url_for('index') }}">
                    <button class="small-box" style="border-radius: 80px 80px 80px 80px;margin-top: 140%;width:45%;background-color: #E8CACA4F;cursor: pointer;" onmouseover="this.style.backgroundColor='white'" onmouseout="this.style.backgroundColor='#E8CACA4F'">
                        <p style="margin-top: 3%"> LOGOUT</p>
                    </button></a>
                
                
            </div>
            <div class="p2_logo">
                <img src="{{ url_for('static', filename='vit.png') }}">
            </div>
            <div class="rectangle">
                <p>AVAILABILITY SEARCH</p>
                <div class="small-rect">
                    <p style="color: red;">WARNING!!</p>
                    <p style="color: red;margin-top: 5%">INVALID INPUT FROM USER</p>
                    <p style="color: blueviolet;margin-top: 5%;font-size: x-small;">PROVIDE PROPER BOOK NAME AND AUTHOR NAME FOR BETTER OUTPUT</p>
                    
                   
                </div>
            </div>
            
        </div>
    </body>
</html>
