<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Data Transfer Example</title>
</head>
<body>

    <h1>Data Transfer Example</h1>

    <!-- Access the data passed from Flask in JavaScript -->
    <script>
        // Retrieve the data passed from Flask and convert it to a JavaScript object
        var dataFromPython = {{ data_from_python|tojson|safe }};

        // Access the data in JavaScript
        console.log("Data received from Python:", dataFromPython);

        // You can now use the 'dataFromPython' object in your JavaScript code
    </script>

</body>
</html>
