<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title> VIT CHENNAI </title>
        <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    </head>
    <body>
        <div class="main">
            <div class="p2_left">
                
                
                
                <a href="{{ url_for('holdings') }}">
                    <button class="p2_btns" style="border-radius: 80px 80px 80px 80px;background-color: #E8CACA4F;filter: brightness(80%);"onmouseover="this.style.backgroundColor='white'" onmouseout="this.style.backgroundColor='#E8CACA4F'">
                        MY HOLDINGS</button></a>
                    <a href="{{ url_for('availability') }}">
                    <button class="p2_btns" style="border-top: 0px;border-radius: 80px 80px 80px 80px;background-color: #E8CACA4F;filter: brightness(80%);"onmouseover="this.style.backgroundColor='white'" onmouseout="this.style.backgroundColor='#E8CACA4F'">
                        AVAILABILITY CHECK</button></a>
                    
                    <a href="{{ url_for('penalty') }}">
                    <button class="p2_btns" style="border-top: 0px; border-radius: 80px 80px 80px 80px;background-color: #E8CACA4F;filter: brightness(80%);"onmouseover="this.style.backgroundColor='white'" onmouseout="this.style.backgroundColor='#E8CACA4F'">
                        PENALTY CHECK</button></a>
                    
                    <a href="{{ url_for('extension') }}">
                    <button class="p2_btns" style="border-top: 0px;border-radius: 80px 80px 80px 80px;background-color: #E8CACA4F;filter: brightness(80%);"onmouseover="this.style.backgroundColor='white'" onmouseout="this.style.backgroundColor='#E8CACA4F'">
                        EXTENSION REQUEST</button></a>

                    <a href="{{ url_for('index') }}">
                    <button class="small-box" style="border-radius: 80px 80px 80px 80px;margin-top: 140%;width:45%;background-color: #E8CACA4F;cursor: pointer;" onmouseover="this.style.backgroundColor='white'" onmouseout="this.style.backgroundColor='#E8CACA4F'">
                        <p style="margin-top: 3%"> LOGOUT</p>
                    </button></a>
                
                
            </div>
            <div class="p2_logo">
                <img src="{{ url_for('static', filename='vit.png') }}">
            </div>
            <div class="rectangle">
                <p>EXTENSION REQUEST</p>
               
                <div class="small-rect" style="height:80%;margin-top: 0%;;border-radius: 50px 0px 0px 50px; background-color:#D4EDFBA8;margin-left:3%"> 
                    
                    
                    
                    <p style="font-size: 18px;color:black;margin-top:3%; margin-right:42%;white-space: nowrap;">BOOK NAME</p>
                    <div class="user-box" style="width: 40%; margin-left:40%; margin-top:-6%; border-radius:15px">
                        <input type="text" id = "bookname" placeholder="Enter your Book Name" required>
                    </div>
                    <p style="font-size: 18px;color:black;margin-top:3%; margin-right:42%;white-space: nowrap;">AUTHOR NAME</p>
                    <div class="user-box" style="width: 40%; margin-left:40%; margin-top:-6%; border-radius:15px" >
                        <input type="text" id = "authorname" placeholder="Enter Author Name" required>
                    </div>
                    <p style="font-size: 18px;color:black;margin-top:3%; margin-right:38%;white-space: nowrap;">REASON</p>
                    <div class="user-box" style="width: 40%; margin-left:40%; margin-top:-6%; border-radius:15px">
                        <input type="text" id = "reason" placeholder="Enter your reason" required>
                    </div>
                    <p style="font-size: 18px;color:black;margin-top:3%;margin-left:9%;white-space: nowrap;">EXPECTED CHECK OUT DATE</p>
                    <p style="font-size: 14px;color:black;margin-top:0%;margin-left:9%;white-space: nowrap;">(dd-MM-YYYY)   /   (01-01-2024)</p>
 
                    <div class="user-box" style="width: 40%; margin-left:35%; margin-top:1%; border-radius:15px">
                        <input type="text" id = "date" placeholder="Enter your date" required>
                    </div>
                    
                    <a href="{{ url_for('extensionStatus') }}" style="text-decoration: none;">
                        
                            <button style="position: absolute; margin-top: -18.3%;left: 76.5%; background-color: #F2959596; border-radius: 0px 80px 80px 80px; width: 18.5%; height: 20%;">
                                <p style="font-size: 25px; margin-left: 12%; color: black;">REQUEST STATUS</p>
                            </button>
                        
                        </a>
                    <a href="#" onclick="sendData()" style="text-decoration: none;">
                    <button style="position: absolute;background-color: #F2959596;margin-top: -1.5%; left:76.5%;border-radius:80px 80px 80px 0px; width:18.5%;height: 20%;">
                        <p style="font-size: 25px; margin-left:12%; padding:8%;margin-bottom:20% ; color:black; ">REQUEST</p>
                    </button></a>

                    <script>
                        function sendData() {
                            // Get input values
                          
                            var name = document.getElementById('bookname').value;
                            var auth = document.getElementById('authorname').value;
                            var res = document.getElementById('reason').value;
                            var date = document.getElementById('date').value;
                   
                
                            // Construct the URL with query parameters
                            var url = '/extensionRequest?name=' + encodeURIComponent(name)+ '&auth=' + encodeURIComponent(auth)+ '&res=' + encodeURIComponent(res)+ '&date=' + encodeURIComponent(date);
                
                            // Navigate to the URL
                            window.location.href = url;
                        }
                    </script>

                    
                    
                </div>
            
            </div>
            
        </div>
    </body>
</html>
