<!DOCTYPE  html>
<html lang="en">

    <head>
        
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title> VIT CHENNAI </title>
        <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    </head>
    <body>
        
        <div class="main">
            <div class="left">
                <div class="cy">
                </div>
                    <div class="TI">LIBRARY MANAGEMENT 
                        SYSTEM</div>
                
            </div>
            <div class="logo">
                <img src="{{ url_for('static', filename='vit.png') }}">
            </div>
            <div class="box">
                <div class="login-text">STUDENT LOGIN</div>
            <form action="/change_password" method="post">
                <div class="cred" style="font-size: 25px;">
                    <p>PASSWORD</p>
                </div>
                <div class="user-box">
                    <input type="password" name = 'pass1' placeholder="Enter your Password">
                </div>
                <div class="cred" style="font-size: 25px;">RE-ENTER PASSWORD</div>
                <div class="user-box">
                    <input type="password" name = 'pass2' placeholder="Re-Enter your Password">
                    
                </div>
                
                <button class="small-box1">
                   <p> CHANGE IT </p>
                </button>
            </form>
                <div>
                    <a href="{{ url_for('admin') }}" class="small" >ADMIN LOGIN</a>
                </div>
            </div>
            
            

        </div>
        
        
    </body>
</html>
